.slideshow-container {
    width: 100%;
    max-width: 900px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  }
  
  .slide {
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
    position: relative;
  }
  