* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

html, body {
  height: 100%;
  background-color: rgb(0, 0, 0);
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}


